<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @owner.phone %>
</p>

<p><strong>Dogs owned by <%= @owner.name.capitalize %></strong></p>
<ul>
  <% @owner.dogs.order('name').each do |dog| %>
    <li> <%= dog.name %> </li>
    <% end %>
</ul>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
