<%= form_for @dog do |dog_fields| %>

<form class="form-inline">

  <div class="field form-group">
  <%= dog_fields.label :name %>
  <%= dog_fields.text_field :name, class: "form-control", placeholder: "dog name" %>
  </div>

  <div class="field form-group">
  <%= dog_fields.label :breed_id %>
  <%= dog_fields.collection_select :breed_id, Breed.all, :id, :name %>
  </div>

  <div class="field form-group">
  <%= dog_fields.label :age %>
  <%= dog_fields.number_field :age, class: "form-control", placeholder: "dog age"  %>
  </div>

  <div class="field form-group">
   <%= dog_fields.label :owner_id %>
  <%= dog_fields.collection_select :owner_id, Owner.all, :id, :name, class: "form-control" %>
  </div>


  <div class="actions">
    <%= dog_fields.submit class: "btn btn-secondary" %>
  </div>

  <% end %>
  </form>